@import "tailwindcss";

:root {
  --background: #100e0e;
  --foreground: #f5f5f5;
  --primary-50: #f6f6f6;
  --primary-100: #e7e7e7;
  --primary-200: #d1d1d1;
  --primary-300: #b0b0b0;
  --primary-400: #8a8a8a;
  --primary-500: #666666;
  --primary-600: #4a4a4a;
  --primary-700: #303030;
  --primary-800: #1d1d1d;
  --primary-900: #100e0e;
  --secondary-50: #edf5ff;
  --secondary-100: #d7e8fe;
  --secondary-200: #b8d7fd;
  --secondary-300: #89bbfb;
  --secondary-400: #5399f4;
  --secondary-500: #2b7deb;
  --secondary-600: #0a6ee2;
  --secondary-700: #0859b7;
  --secondary-800: #084895;
  --secondary-900: #093f79;
  --accent: #ffa90a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@keyframes attentionBounceWiggle {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(5px) rotate(-4deg);
  }
  50% {
    transform: translateY(10px) rotate(0deg);
  }
  75% {
    transform: translateY(5px) rotate(4deg);
  }
}

.down-attention {
  animation: attentionBounceWiggle 1.6s ease-in-out infinite;
}
